[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libtomcrypt"]
	path = libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "libtommath"]
	path = libtommath
	url = https://github.com/libtom/libtommath.git
